.dashboard .dashboard-head {
  margin-bottom: 14px;
}

.dashboard .widget .widget-head {
	color: #eee;
	background-color: #333;
	text-align: center;
}

.dashboard .widget .widget-head h4 {
  padding: 4px;
}
