.error-header {
  margin: auto 0;
  text-align: center;
}

.error-header * {
  padding: 16px 2px;
}

.error-header #brand * {
  color: #222;
  font-weight: normal;
  font-family: georgia;
  font-size: 34px;
  line-height: 120px;
}

.error-details {
  background-color: #222;
  color: #fdfdfd;
}

.error-header #brand a {
}

.error-header #title {
  font-size: 80px;
  line-height: 80px;
  font-family: "Lucida Console", Monaco, monospace;
}

.error-header #message {
  font-size: 22px;
  line-height: 21px;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}
