@import url(/public/vendor/bootstrap/css/bootstrap.css);
@import url(/public/vendor/bootstrap/css/bootstrap-responsive.css);

body {
	padding-top: 60px;
}

a {
	color: #555;
}

a:hover {
	color: #333;
}
