body{
    font: medium/1.75 'Gill Sans','Gill Sans MT',Corbel,Helvetica,'Nimbus Sans L',sans-serif;
    word-spacing: 0.1em;
}

#dashboard-container {
	width: 960px;
	margin: 0 auto;
}

.widget {
	float: left;
	padding: 10px;
	margin: 2px 10px;
}

.widget-title {
	text-align: center;
	margin-bottom: 5px;
}

.graph {
	float: left;
	position: relative;
	width: 800px;
	height: 150px;
}

.y-axis {
	float: left;
	top: 0;
	bottom: 0;
	width: 40px;
}

.legend {
	text-align: center;
	font-size: 0.8em;
}

.graph-time-label {
	position: absolute;
	font-size: 12px;
	color: #808080;
}

.metric-key-container {
	display: inline-block;
	margin: 0 0 0 15px;
}

.metric-key-swatch {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 8px 0 0;
}

.metric-key-label {
	display: inline-block;
	font-weight: normal;
}

.metric-key-value-label {
	display: inline-block;
	margin: 0 0 0 2px;
}

.metric-key-value-label-inactive {
	font-weight: bold;
}

.metric-key-value-label-active {
	font-weight: normal;
}

.rickshaw_graph .detail {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}
