.widget {
	margin-bottom: 15px;
}

.widget-title {
	background-color: #333;
	color: #eee;
	text-align: center;
	min-height: 30px;
}

.widget-title h4 {
	line-height: 30px;
}

.graph-widget {
	min-width: 370px;
	height: 320px;
}

.graph-widget-container {
	margin-top: 10px;
}

.graph {
	float: left;
    height: 220px;
}

.widget-pan4 .graph {
	min-width: 280px;
}

.span4 .graph {
	min-width: 280px;
}

.span8 .graph {
	min-width: 680px;
}

.span12 .graph {
	min-width: 1080px;
}

.y-axis {
	float: left;
	top: 0;
	bottom: 0;
	width: 40px;
}

.legend-container {
	margin-top: -11px;
	font-size: 11px;
	float: left;
	width: 100%;
}

.legend, .hover-legend {
	text-align: center;

	transition: opacity 0.25s linear;
	-moz-transition: opacity 0.25s linear;
	-o-transition: opacity 0.25s linear;
	-webkit-transition: opacity 0.25s linear;
}

.legend.inactive, .hover-legend.inactive {
	opacity: 0;
}

.hover-legend {
	position: relative; font-weight: bold;
}

.graph-time-label {
	display: inline-block;
	color: #808080;
}

.metric-key-container {
	display: inline-block;
	margin: 0 0 0 15px;
}

.swatch {
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    height: 20px;
    margin: -6px 0;
    width: 30px;
}

.metric-key-swatch {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 8px 0 0;
}

.metric-key-label {
	display: inline-block;
	font-weight: normal;
}

.metric-key-value-label {
	display: inline-block;
	margin: 0 0 0 2px; }

.rickshaw_graph .detail {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

.lvalue-group {
	float: left;
	width: 370px;
}

.lvalue-widget {
	width: 370px;
	height: 80px;
}

.lvalue-widget-container {
	width: 100%;
	font-size: 12px;
	margin-top: 2px;
	line-height: 1.5em;
}

.lvalue-lvalue {
	float: left;
	font-size: 37px;
}

.lvalue-time {
	text-align: right;
	color: #808080;
}

.lvalue-change {
	margin-left: 5px;
	float: left;
	text-align: left;
}

.block-filler {
	min-height: 240px;
}
