.row {
	margin-bottom: 18px;
}

.widget-title {
	background-color: #333;
	color: #eee;
	text-align: center;
	min-height: 30px;
}

.widget-title h4 {
	line-height: 30px;
}

.dashboard-title {
  margin-bottom: 14px;
}

.error-header {
  margin: auto 0;
  text-align: center;
}

.error-header * {
  padding: 16px 2px;
}

.error-header #brand * {
  color: #222;
  font-weight: normal;
  font-family: georgia;
  font-size: 34px;
  line-height: 120px;
}

.error-details {
  background-color: #222;
  color: #fdfdfd;
}

.error-header #brand a {
}

.error-header #title {
  font-size: 80px;
  line-height: 80px;
  font-family: "Lucida Console", Monaco, monospace;
}

.error-header #description {
  font-size: 22px;
  line-height: 21px;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

.dashboard-list {
	list-style-type: none;
}

.dashboard-list-item {
	margin: 8px 2px;
}

.dashboard-list-item a:hover {
	text-decoration: none;
}

body {
	padding-top: 60px;
  background-color: #fdfdfd;
}

a {
	color: #555;
}

a:hover {
	color: #333;
}

.navbar {
  background: #222;
}

.navbar .brand {
  font-family: georgia;
  font-size: 21px;
  color: #ddd;
  line-height: 46px;
}

.navbar .brand:hover {
  text-decoration: none;
}

.graph .chart *, .axis * {
  pointer-events: none;
}

.graph .axis path,
.graph .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.graph .axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.graph .metric-line {
  fill: none;
  stroke-width: 1.5px;
  pointer-events: none;
}

.graph .legend {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

.graph .legend li {
  width: 275px;
  float: left;
  margin: 2px 4px;
}

.graph .legend-item .swatch {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 4px;
  border-radius: 4px;
}

.graph .hover.legend .legend-item .value {
  color: #555;
}

.graph .legend-item .value {
  font-weight: bold;
}

.graph .dot, .hover-dot {
  pointer-events: none;
}

.graph .dot {
  stroke: none;
}

.graph .hover-dot {
  fill: none;
  stroke-width: 1.5px;
}

.graph .hover-marker line {
  stroke: #555;
}

.graph .hover-marker text {
  fill: #555;
}

.graph .axis g {
  -webkit-transition: fill-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear;
  -o-transition: fill-opacity 250ms linear;
  transition: fill-opacity 250ms linear;
 }

.widget-container {
  padding: 0;
  text-align: center;
}

.lvalue .last {
  margin: 10px auto;
  text-align: center;
	height: 44px;
}

.lvalue .short.last {
	font-size: 44px;
}

.lvalue .long.last {
	font-size: 24px;
	color: #555;
}

.lvalue .time {
  margin: 8px auto;
  margin-right: 12px;
	font-size: 12px;
  text-align: right;
	color: #808080;
}

.lvalue .time .from, .lvalue .time .to {
  display: block;
}

.lvalue .change {
  margin: 8px auto;
	font-size: 20px;
	margin-left: 5px;
}

.lvalue .change span {
  display: block;
}

.lvalue .good.change {
  color: #2ca02c;
}
.lvalue .bad.change {
  color: #d62728;
}

.text-widget-text {
    margin: 0 auto;
    text-align: center;
    font-size: 55px; 
    line-height: 60px;
}
