<div class="row">
  <% self.model.get('metrics').each(function(m) { %>
    <div class="legend-item col-md-6" data-metric-id="<%= m.get('id') %>">
      <span class="swatch"></span>
      <span class="title"><%= m.get('title') %></span>
      <span class="value"><%= self.valueOf(m.get('id')) %></span>
    </div>
  <% }); %>
</div>
