<% self.model.get('metrics').each(function(m) { %>
<li class="legend-item" data-name="<%= m.get('name') %>">
  <span class="swatch"></span>
  <span class="title"><%= m.get('title') %></span>
  <span class="value"><%= self.format(x ? m.valueAt(x) : m.lastValue()) %></span>
</li>
<% }); %>
