.graph {
  .chart * {
    pointer-events: none;
  }

  .metric-line {
    fill: none;
    stroke-width: 1.5px;
    pointer-events: none;
  }

  .dot, .hover-dot {
    pointer-events: none;
  }

  .dot {
    stroke: none;
  }

  .hover-dot {
    fill: none;
    stroke-width: 1.5px;
  }
}
