.chart *, .axis * {
  pointer-events: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.line {
  fill: none;
  stroke-width: 1.5px;
  pointer-events: none;
}

.legend {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

.legend li {
  width: 230px;
  float: left;
  margin: 2px 4px;
}

.legend-item-swatch {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 4px;
  border-radius: 4px;
}

.hover-legend-item-value {
  color: #555;
}

.legend-item-value, .hover-legend-item-value {
  font-weight: bold;
  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear;
}

.dot, .hover-dot {
  pointer-events: none;
}

.dot {
  stroke: none;
}

.hover-dot {
  fill: none;
  stroke-width: 1.5px;
}

.hover-marker line {
  stroke: #555;
}
.hover-marker text {
  fill: #555;
}

.axis g {
  -webkit-transition: fill-opacity 250ms linear;
  -moz-transition: fill-opacity 250ms linear;
  -o-transition: fill-opacity 250ms linear;
  transition: fill-opacity 250ms linear;
 }
