<h1 class="last"></h1>
<div class="<%= change %> change">
  <span class="diff"><%= diff %></span>
  <span class="percentage">(<%= percentage %>)</span>
</div>
<div class="time">
  <span class="from">from <%= from %></span>
  <span class="to">to <%= to %><span>
</div>
